// Copy this file and rename it to secrets.h

#define WIFI_SSID "your_wifi_ssid"  // Replace with your WiFi SSID
#define WIFI_PASSWORD "your_wifi_password"  // Replace with your WiFi password
#define AP_SSID "ESP_AccessPoint"
#define AP_PASSWORD "ap_password"